body {
    margin: 0px;
    padding:0px;
    overflow: hidden auto;
    
    color: #1A00FF;
    background-color: #FFFFFF;

    --col-primary0: #1A00FF;
    --col-secondary0: #FFFFFF;
    --col-secondary1: #EBF5F8;

    font-family: 'Convergence', sans-serif;
    font-size: 20px;

    caret-color: transparent;
}


/* GENERIC */
button {
    border: hidden;
    border-radius: .325rem;
    width: fit-content;
    font-family: 'Convergence', sans-serif;
}



/* HEADER */
header {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}
header > h1 {
    font-size: 3.5rem;
    letter-spacing: 5%;
    margin: 1.5rem 0px 1.25rem 2rem;
}
search-bar {
    margin-left: auto;
    margin-right: 2rem;
}




/* MAIN */
main {
    display: grid;
    grid-template-columns: 1fr 12fr;
    height: 100%;
}
main > #main-content {
    padding: 0px 2.5rem 4rem;
    background-color: var(--col-secondary1);
    border-radius: 25px 0px 0px 25px;
    overflow: hidden auto;
    height: 70vh;
}
content-header {
    display: block;
    position: relative;
    margin-top: 2.25rem;
    width: 100%;
}





/* FOOTER */
footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
footer > p {
    margin: .75rem 0px;
    font-size: .725rem;
    font-weight: 100;
    letter-spacing: 5%;
    color: var(--col-primary0);
    writing-mode: vertical-rl;
}